*.iml
.gradle
.gradle-local
.gradle-user-home
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Local build/debug scratch artifacts
/build*.txt
/kotlin_errors.txt
/unresolved.txt
/hs_err_pid*.log
/replay_pid*.log
